.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1rem;
    /* width: 60vw; */
    margin-top: 2rem;
    gap: 1rem;
}

.container textarea{
    color:black;
    outline: none;
    border: none;
    border-radius: .3rem;
    font-size: 1.3rem;
}

.container button{
    background-color:blueviolet;
    color:black;
    padding: .3rem;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}